.form {
    text-align: center;
  }
  
  .button {
    font-size: 3rem;
  }
  
  .form:hover {
    //:hover is a pseudo-class that causes an effect while the cursor is hovering over the object
    transform: scale(
      1.3
    ); //scale is a transformation that causes the size of an element to change. the size is multiplied by the number in parenthesis.
  }