body {
  font-family: "Loved by the King", cursive;
}
.block {
  width: 20%;
  text-align: center;
  margin: 10px auto;
  padding: 10px;
}
.header {
  background-color: #cbf3f0;
}
.row1 {
  display: inline-block;
  width: 33%;
  text-align: center;
  margin: auto;
