html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  font-family: "Loved by the King", cursive;
}

.header {
  width: 20%;
  text-align: center;
  margin: 10px auto;
  padding: 20px;
  background-color: #cbf3f0;
  border-radius: 50px;
  font-size: 10em;
}

.parent {
  font-size: 10em;
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.row {
  background-color: rgb(239, 224, 248);
  padding: 10px;
  margin: 50px 125px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgb(165, 165, 165);
}
